body {
    color: #fff;
    background-color: #111;
}
a:link    {color:orange;}
a:visited {color:orange;}
a:hover   {color:red;}
a:active  {color:yellow;}



.container {
    width:600;
    text-align: center;
    margin: 0px auto 0px auto;
}